<div class="text-center image-wrapper">
  <img src="/images/blank-vegas.png" />
  <h3>Thanks for playing, <%= session[:player_name] %>!</h3>
  <p> Maybe it's time to hit up Vegas? </p>
  <br />
  <a href='/new_player' class="btn btn-link btn-large"><i class="icon-refresh"></i> Start Over</a>
</div>